<% layout("./boilerplate/boilerplate.ejs") -%>
    <div class="grid sm:grid-cols-1 py-4 px-5 gap-3 lg:grid-cols-2 md:grid-cols-2">
        <div class="sm:w-full lg:w-full md:w-full">
            <img src="<%= product.image[0].url %>" alt="<%= product.title %>"
                class="productImg h-[30rem] border border-black rounded-2xl">
        </div>
        <div class="h-full w-full">
            <div class=" flex justify-between items-center">
                <h3 class="font-bold text-2xl pb-5">
                    <%= product.title %>
                </h3>
                <% if(currUser && currUser !==null) {%>
                    <% if(String(currUser._id)===String(product.owner._id)) {%>
                        <div class="flex justify-end px-4 pt-4">
                            <button id="dropdownButton" data-dropdown-toggle="dropdown"
                                class="inline-block text-gray-500 dark:hover:text-dark hover:bg-black-400 dark:hover:bg-gray-200 rounded-4xl text-sm p-1.5"
                                type="button">
                                <span class="sr-only">Open dropdown</span>
                                <svg class="w-7 h-7 rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 16 3">
                                    <path
                                        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdown"
                                class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 shadow-2xl">
                                <ul class="py-2" aria-labelledby="dropdownButton">
                                    <li
                                        class="flex justify-start ps-2 items-center hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <a href="/api/seller/products/<%= product._id %>/edit"
                                            class="block px-4 py-2 text-sm text-gray-700 text-white font-bold">Edit
                                            Product</a>
                                    </li>
                                    <li
                                        class="flex justify-start ps-2 items-center hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white  ">
                                        <i class="fa-solid fa-trash text-red-500"></i>
                                        <form action="/api/products/<%= product._id %>?_method=DELETE" method="post">
                                            <button type="submit"
                                                class="block px-4 py-2 text-sm text-red-500 font-bold">Delete
                                                Product</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% }%>
                            <% } %>
            </div>
            <b class="text-4xl text-gray-700 px-4">&#8377;<%= product.price.toLocaleString() %></b>
            <% if(product.stock < 10) {%>
                <p class="ms-5 mt-3 text-orange-600">Only <%= product.stock %> items left in the Stock</p>
                <% } %>
                    <p class="pt-5 text-xl px-4">
                        <%= product.description %>
                    </p>
                    <div class="flex gap-2 flex-wrap px-4 py-6">
                        <% for(let image of product.image) { %>
                            <img src="<%= image.url %>" alt="<%= product.title %>"
                                class="isCheck h-20 border border-black rounded-2xl cursor-pointer">
                            <% } %>
                    </div>
                    <% if( !currUser || currUser.role==="buyer" ) {%>
                        <div class="flex items-center mt-10 gap-4 text-base">
                            <form action="/api/cart/<%= product._id %>" method="post" class="w-full">
                                <button type="submit"
                                    class="w-full py-3.5 font-medium bg-green-400 text-gray-800/80 hover:bg-green-500 transition cursor-pointer rounded">
                                    Add to Cart
                                </button>
                            </form>
                            <button onclick="payNow()"
                                class="w-full py-3.5 font-medium bg-indigo-500 text-white hover:bg-indigo-600 transition cursor-pointer rounded">
                                Buy now
                            </button>
                        </div>
                        <div class="py-3">
                            <form action="/api/wishlist/<%= product._id %>" method="post">
                                <button type="submit"
                                    class="w-full py-3.5 font-medium bg-orange-500 text-white hover:bg-orange-600 transition cursor-pointer rounded">
                                    Add to Wishlist &hearts;
                                </button>
                            </form>
                        </div>
                        <% } %>
        </div>

    </div>

    <div class="flex flex-col justify-center items-center m-3">
        <% if(currUser) {%>
            <hr class="h-px  bg-gray-200 text-gray-300 w-full border-1 dark:bg-gray-700">
            </hr>
            <h1 class="font-bold text-start p-5 w-full m-3 text-3xl drop-shadow-xl/50">Leave a Review</h1>
            <form action="/api/products/<%= product._id %>/review" method="post" class="w-full">
                <div class="flex items-start gap-3 text-sm w-full">
                    <img class="w-9 h-9 rounded-full" src="<%= currUser.image.url %>" alt="userImage1">
                    <div class=" w-full px-3">
                        <div class="w-full  flex gap-1">
                            <fieldset class="starability-slot">
                                <input type="radio" id="second-rate1" name="review[rating]" value="1" checked />
                                <label for="second-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="second-rate2" name="review[rating]" value="2" />
                                <label for="second-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="second-rate3" name="review[rating]" value="3" />
                                <label for="second-rate3" title="Average">3 stars</label>
                                <input type="radio" id="second-rate4" name="review[rating]" value="4" />
                                <label for="second-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="second-rate5" name="review[rating]" value="5" />
                                <label for="second-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="px-3">
                            <label for="reviewComment" class="text-xl">Review</label>
                            <textarea
                                class="w-full rounded-md rounded-b-none h-28 outline-none resize-none bg-white focus-within:border-indigo-500 transition border border-gray-500/30 flex flex-col p-3 text-lg"
                                placeholder="Add your comment..." name="review[comment]"></textarea>
                        </div>
                        <div class="flex items-center justify-end px-2.5 pb-2">
                            <button type="submit"
                                class="bg-indigo-500 hover:bg-indigo-600 active:scale-95 transition-all text-white font-medium px-5 py-2 rounded m-2">Post</button>
                        </div>
                    </div>
                </div>
            </form>
            <% } %>
                <% if(product.reviews.length> 0) {%>
                    <div class="w-full m-5">
                        <h1 class="font-bold m-5 text-3xl drop-shadow-xl/50">Reviews</h1>
                        <div class="flex flex-wrap">
                            <% for(let review of product.reviews) {%>
                                <div class="p-2 border w-60 h-auto mx-3 rounded my-3 flex">
                                    <img src=" <%= review.user.image.url %>" class="w-full h-15 rounded-full p-1 m-2"
                                        alt="">
                                    <div class="flex flex-col items-start justify-center m-2 w-80">
                                        <p class="starability-result" data-rating="<%= review.rating%>">
                                        </p>
                                        <p class="my-3">
                                            <%= review.comment %>
                                        </p>
                                        <form
                                            action="/api/products/<%= product._id %>/review/<%= review._id %>?_method=DELETE"
                                            method="post" class="flex justify-end w-full">
                                            <button type="submit"
                                                class="text-end border p-2 m-1 bg-red-600 rounded font-semibold cursor-pointer px-3 text-white">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
    </div>
    </div>

    <script>
    async function payNow() {
        const res = await fetch("/api/payment/order/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ amount: <%= product.price %> * 100 })  // in paise
        });
        console.log(res)

        const data = await res.json();

        const options = {
            key: "<%= keyId %>",
            amount: data.amount,
            currency: "INR",
            name: "<%= product.title %>",
            image: "<%= product.image[0].url %>",
            order_id: data.id,
            handler: function (response) {
                alert("Payment successful!");
            },
            prefill: {
                name: "<%= currUser ? currUser.username : '' %>",
                email: "<%= currUser ? currUser.email : '' %>"
            },
            theme: {
                color: "#6366f1"
            }
        };

        const rzp = new Razorpay(options);
        rzp.open();
    }
</script>